<ion-header>
  <ion-toolbar>
    <ion-title>
      <div style="text-align: center">#{{tagName}}</div>
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button color="primary"
                  *ngIf="isSubscribed"
                  (click)="subscribe(false)">
        Unsubscribe
      </ion-button>
      <ion-button color="primary"
                  *ngIf="!isSubscribed"
                  (click)="subscribe(true)">
        Subscribe
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-article-list [articles]="articles">
  </app-article-list>
</ion-content>
