<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/feeds">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-icon *ngIf="!feed"></ion-icon>
    <ion-title *ngIf="feed">
      {{feed.name}}
    </ion-title>

    <ion-buttons slot="end">

      <ion-button *ngIf="isSubscribed && feed"
                  (click)="openSubscriptionDetailsWithPush()">
        <ion-icon *ngIf="feed.whitelisted"
                  name="heart"></ion-icon>
        <ion-icon *ngIf="!feed.whitelisted"
                  name="heart-half"></ion-icon>
      </ion-button>

      <ion-button *ngIf="isSubscribed"
                  (click)="subscribe(false)">
        Unsubscribe
      </ion-button>
      <ion-button *ngIf="!isSubscribed"
                  (click)="subscribe(true)">
        Subscribe
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="feed">
      <ion-icon name="git-branch"
                slot="start"></ion-icon>
      <ion-text><a [href]="feed.url">{{feed.url}}</a> ({{feed.parser}})</ion-text>
    </ion-item>
    <ion-item>
      <ion-icon name="text"
                slot="start"></ion-icon>
      <ion-input placeholder="Add a note"></ion-input>
    </ion-item>
  </ion-list>

  <app-article-list [articles]="articles">
  </app-article-list>

</ion-content>
