<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="secondary">
      <ion-button color="primary">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Repository URL</ion-label>
    <ion-label slot="end"
               *ngIf="repositorySettings">{{repositorySettings.url}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Inbox size</ion-label>
    <ion-label slot="end"
               *ngIf="inboxSettings">{{inboxSettings.size}}</ion-label>
  </ion-item>
</ion-content>
