<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      New Tag
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="saveTag()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item>
      <ion-label slot="start">Tag</ion-label>
      <ion-input placeholder="Type a name" autofocus [(ngModel)]="tagName"></ion-input>
    </ion-item>
  </ion-item-group>

</ion-content>
