<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>Feeds</ion-title>

    <ion-buttons slot="secondary">
      <ion-button color="primary" (click)="presentAddFeedModal()">
        Add Feed
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="feeds">
    <ion-item-group>
      <ion-item>
        <ion-input placeholder="Type to filter"
                   clearInput="true"
                   [(ngModel)]="filterQuery"></ion-input>
      </ion-item>
      <ion-item *ngFor="let feed of getFilteredFeeds()"
                [routerDirection]="'root'"
                [routerLink]="[feed.id]">
        <ion-icon name="heart"
                  slot="end"
                  *ngIf="feed.whitelisted"></ion-icon>
        <ion-label>
          <h3>{{feed.name}}</h3>
          <p>{{feed.url}}</p>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
