<ion-content>
  <ion-list *ngIf="!newFeed">
    <ion-item-group>
      <ion-item>
        <ion-input placeholder="Type a name or paste a URL"
                   (ngModelChange)="search($event)"
                   clearInput="true"
                   debounce="200"
                   [(ngModel)]="filterQuery"></ion-input>
      </ion-item>

      <ion-list>
        <ion-spinner *ngIf="busy"></ion-spinner>
        <div *ngIf="inSiteFeeds">
          <ion-item-group *ngIf="inSiteFeeds.length === 0">
            <ion-item>
              <ion-label>
                <h3>No feeds found</h3>
              </ion-label>
            </ion-item>
          </ion-item-group>
          <ion-item-group *ngIf="inSiteFeeds.length > 0">
            <ion-item
              *ngFor="let feed of inSiteFeeds"
              (click)="showFeedDetails(feed)">
              <ion-label>
                <h3>{{feed.name}}</h3>
                <p>{{feed.url}}</p>
              </ion-label>
            </ion-item>
          </ion-item-group>
        </div>
      </ion-list>

    </ion-item-group>
  </ion-list>

</ion-content>
