<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="readText()">
        <ion-icon name="play"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="article">
  <div style="padding: 20px">
    <p>
      <a *ngIf="article && feed"
                [routerLink]="['/feeds/'+article.feedId]">
        <ion-icon name="logo-rss"></ion-icon>
        <ion-label>{{feed.name}}</ion-label>
      </a>
    </p>

    <h1>{{article.title}}</h1>
    <p>
      <ion-chip
      *ngFor="let tag of matchingTags(article.tags)"
      color="primary"
      outline="true">
      <ion-label>{{tag}}</ion-label>
    </ion-chip>
    </p>
    <p>{{article.excerpt}}</p>
    <!-- todo use this instead <p [innerHTML]="article.content"></p>-->
    <ion-buttons>
      <ion-button [href]="article.url">
        Visit Website
      </ion-button>
    </ion-buttons>
  </div>
</ion-content>
