<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>Inbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="articles && articles.length != 0">
    <ion-text>
      Your inbox is empty, <a routerLink="/feeds">add a feed</a>
    </ion-text>
  </ion-item>
  <app-article-list [articles]="articles">

  </app-article-list>

</ion-content>
