<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Tags</ion-title>
    <ion-buttons slot="secondary">
      <ion-button color="primary" (click)="presentAddTagModal()">
        Add Tag
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item>
        <ion-input placeholder="Type to filter"
                   clearInput="true"
                   [(ngModel)]="filterQuery"></ion-input>
      </ion-item>
      <ion-item
        *ngFor="let tag of getFilteredTags()"
        [routerLink]="['/tags/'+tag]">
        #{{tag}}
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
