<ion-list>
  <ion-item-group>
    <ion-spinner *ngIf="!articles"></ion-spinner>
    <ion-item
      *ngFor="let article of articles"
      [routerLink]="getArticleDetailsUrl(article)">
      <ion-img
        [src]="getFaviconUrl(article)"
        slot="start"
        [title]="article.domain">
      </ion-img>
      <ion-label>
        <h3><strong>{{article.title}}</strong> ({{article.domain}})</h3>
        <p>{{article.excerpt}}</p>
        <p>
          {{timeAgo(article.publishedDate)}}
          <ion-chip
            *ngFor="let tag of matchingTags(article.tags)"
            color="primary"
            outline="true">
            <ion-label>{{tag}}</ion-label>
          </ion-chip>
        </p>
      </ion-label>
    </ion-item>
  </ion-item-group>
</ion-list>
